body {
    font-family: 'Roboto', sans-serif;
    сolor: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none; 
}

   /* ----------HEADER------------ */
   

   .header-logo {
     font-weight: 700;
     font-size: 18px;
     line-height: 1.16;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #2e2f42;}

   .header-logo-part {
    font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.16;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;

   }
   .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
   }


   .header-menu-nav-contacts {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
   }
   .header-menu-nav-contacts:hover {
    color: #4d5ae5;
   }    
.header-menu-link:hover {
    color: #4d5ae5;
   }
  

   
   
/* ----------HERO------------ */
.hero {
    background-color: #2e2f42;
}
.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero button {
    margin-top: 40px;
    padding: 14px 28px;
    background-color: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        cursor: pointer;
}
.button:hover {
    color:#404b8f;
}
/* ----------FEATURES------------ */
.features-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ----------Our Team------------ */
.background-team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
      
        color: #2e2f42;
}


    
.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
       
        color: #2e2f42;
}

.team-role {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
  
        color: #434455;
}

/* ----------PORTFOLIO------------ */

.portfolio-title-our {
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
      
        color: var(--navy-blue);
}



.portfolio-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ----------FOOTER------------ */
.footer {
    background: #2e2f42;
}

.footer-link-text {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;

}
.footer-link {
    font-family: "Raleway", sans-serif
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;

}

.footer-description {
    font-weight: 700;
        font-size: 16px;
    font-family: "Raleway", sans-serif 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        line-height: 1.17;
}
